<div ng-controller="CategoryCtrl">
<div class="clearfix resourceHeading">
	<div class="pull-left">
		<h3>{{ category.name }}</h3>
	</div>
	<div class="pull-right">
		<script id="actionsListTemplate" type="text/x-kendo-template">
			<div>
				<i class="fa #=data.icon#"></i> <span translate>#=data.name#</span>
			</div>
		</script>
		<select kendo-drop-down-list k-option-label="'{{'select_action' | translate}}'" k-options="actions" ng-model="selectedAction"></select>
	</div>
</div>

<section class="well">
<form class="form-horizontal" role="form" name="categoryForm" ng-submit="save()" novalidate>
	<fieldset ng-disabled="!canManageCategory">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group" ng-class="{'has-error has-feedback': categoryForm.name.$invalid && !categoryForm.name.$dirty}">
					<label for="name" class="col-sm-4 control-label" translate>categoryName</label>
					<div class="col-sm-8">
						<input id="name" name="name" type="text" class="form-control" ng-model="category.name">
						<i ng-show="categoryForm.name.$invalid && !categoryForm.name.$dirty"
								class="fa fa-exclamation-triangle form-control-feedback"
								popover="{{categoryForm.name.message}}"
								popover-placement="left"
								popover-trigger="mouseenter"></i>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': categoryForm.description.$invalid && !categoryForm.description.$dirty}">
					<label for="description" class="col-sm-4 control-label" translate>categoryDescription</label>
					<div class="col-sm-8">
						<textarea id="description" class="form-control" ng-model="category.description"></textarea>
						<i ng-show="categoryForm.description.$invalid && !categoryForm.description.$dirty"
								class="fa fa-exclamation-triangle form-control-feedback"
								popover="{{categoryForm.description.message}}"
								popover-placement="left"
								popover-trigger="mouseenter"></i>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label" translate>createdBy</label>
					<div class="col-sm-8 controls">
						<p class="form-control-static">{{category.createdBy.firstName}} {{category.createdBy.lastName}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" translate>createdOn</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{ category.createdOn  | qDate:'lll'}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" translate>modifiedBy</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{category.lastModifiedBy.firstName}} {{category.lastModifiedBy.lastName}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" translate>modifiedOn</label>
					<div class="col-sm-8">
						<p class="form-control-static">{{ category.lastModifiedOn  | qDate:'lll'}}</p>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<div class="clearfix">
		<div class="pull-right">		
			<button class="btn btn-success" ng-hide="!canManageCategory"><i class="fa fa-check"></i><span translate>save</span></button>
			<button class="btn btn-danger" ng-click="cancel($event)" ng-hide="!canManageCategory"><i class="fa fa-ban"></i><span translate>cancel</span></button>
		</div>
	</div>
</form>
</section>
</div>