<div class="container-fluid" ng-controller="LibraryVersionDisableTestingCtrl">
	<div class="row">
		<div class="col-xs-4"><i class="fa fa-exclamation-circle fa-3x"></i></div>
		<div class="col-xs-8">
			<p translate>library.disable_testing_version_not_allowed</p>
			<div ng-show="getData().containedInWorkingSetVersions">
				<p translate>library.disable_testing_version_contained_in</p>
				<ul ng-repeat="version in getData().workingSetVersions">
					<li>{{ version }}</li>
				</ul>
			</div>
			<div ng-show="getData().usedByOtherComponents">
				<p translate>library.disable_testing_version_used_by_other</p>
			</div>
		</div>
	</div>
	<div class="clearfix top-buffer">
		<div class="pull-right">
			<button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> <span translate>action.ok</span></button>
		</div>
	</div>
</div>
