<div class="well inner-well top-buffer" ng-controller="LibraryVersionCtrl">
	<fieldset ng-disabled="!canManage || !canEditVersion">
		<div class="row">
			<div class="col-sm-6">
				<select kendo-drop-down-list="versionsDropDownList"
						k-data-source="versionsDataSource"
						k-data-text-field="'name'"
						k-data-value-field="'id'"
						k-template="versionItemTemplate"
						k-value-template="versionItemTemplate"
						k-on-select="selectVersion(kendoEvent)"
						ng-model="libraryVersion.id">
				</select>
				<script id="versionItemTemplate" type="text/x-kendo-template">
					<div>
						#if (data.state === 1) {#
							<i class="fa fa-check-circle-o"></i> <span>#=data.name#</span>
						#} else {#
							<i class="fa fa-circle-o"></i> <span>#=data.name#</span>
						#}#
					</div>
				</script>
				<span ng-switch on="!!libraryVersion.lockedBy">
					<i ng-switch-when="true" class="fa fa-lock fa-lg" tooltip="{{'note.lockedBy' | translate: lockedByTooltip}}"></i>
					<i ng-switch-when="false" class="fa fa-unlock fa-lg"></i>
				</span>
				<i class="fa fa-flag fa-lg" tooltip="{{'note.testing_enabled' | translate}}" ng-show="libraryVersion.state == 2"></i>
				<p class="form-control-static text-muted small" translate
				   translate-value-createdby="{{libraryVersion.createdBy.firstName}} {{libraryVersion.createdBy.lastName}}"
				   translate-value-createdon="{{libraryVersion.createdOn | qDate:'lll'}}">
					note.createdBy
				</p>
				<p class="form-control-static text-muted small" translate
				   translate-value-modifiedby="{{libraryVersion.lastModifiedBy.firstName}} {{libraryVersion.lastModifiedBy.lastName}}"
				   translate-value-modifiedon="{{libraryVersion.lastModifiedOn | qDate:'lll'}}">
					note.modifiedBy
				</p>
			</div>

			<div class="col-sm-6">
				<div class="form-group" ng-class="{'has-error has-feedback': libraryForm['version.description'].$invalid && !libraryForm['version.description'].$dirty}">
					<label class="col-sm-4 control-label" translate>label.description</label>
					<div class="col-sm-8">
						<textarea name="version.description" class="form-control" ng-model="libraryVersion.description"></textarea>
						<i ng-show="libraryForm['version.description'].$invalid && !libraryForm['version.description'].$dirty"
							class="fa fa-exclamation-triangle form-control-feedback"
							popover="{{libraryForm['version.description'].message}}"
							popover-placement="left"
							popover-trigger="mouseenter">
						</i>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div kendo-grid
					 k-data-source="classesDataSource"
					 k-sortable="true"
					 k-resizable="true"
					 k-columns="classesColumns"
				</div>
			</div>
		</div>
	</fieldset>
</div>
