<div class="container-fluid" ng-controller="WorkingSetVersionEnableTestingCtrl">
	<div class="row">
		<div class="col-xs-4"><i class="fa fa-exclamation-circle fa-3x"></i></div>
		<div class="col-xs-8">
			<p translate>working_set.enable_testing_version_not_allowed</p>
			<div ng-show="getData().dataModelVersions.length > 0">
				<p translate>working_set.enable_testing_version_data_models_not_contained</p>
				<ul ng-repeat="version in getData().dataModelVersions">
					<li>{{ version }}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clearfix top-buffer">
		<div class="pull-right">
			<button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> <span translate>action.ok</span></button>
		</div>
	</div>
</div>
