<div class="container-fluid" ng-controller="FinaliseFormVersionCtrl">
	<div class="row">
		<div class="col-xs-2"><i class="fa fa-question-circle fa-3x"></i></div>
		<div class="col-xs-10"><p translate>confirm_finalise_form_version</p></div>
	</div>
	<div class="clearfix top-buffer">
		<div class="pull-right">
			<button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> <span translate>cancel</span></button>
			<button class="btn btn-success" ng-click="finaliseFormVersion()"><i class="fa fa-check"></i> <span translate>finalise</span></button>
		</div>
	</div>
</div>