<div class="container-fluid" ng-controller="ImportFormVersionCtrl">
	<form name="importFormVersionForm" class="form-horizontal" role="form" novalidate>
		<div class="form-group"
			 flow-init="{headers: {'X-Qlack-Fuse-IDM-Token': getTicket()}, sHeader : getTicket()}"
			 flow-name="attachment.flow"
			 flow-files-submitted="$flow.upload()">

			<label for="file" class="col-xs-4 control-label" translate>import_version_content</label>
			<div id="file" class="col-xs-8" ng-class="{'has-error has-feedback': fileHasError}">
				<div ng-repeat="file in attachment.flow.files">
					<span style="font-weight:bold">{{file.name}}</span>
					<span class="filesize">({{file.size}} bytes)</span>
					<div class="actions" ng-show="file.isComplete()">
						<button title="remove attachment" class="btn btn-danger btn-xs" ng-click="file.cancel()">
							<i class="fa fa-trash-o"></i>
						</button>
					</div>
				</div>
				<div class="progress" ng-show="$flow.isUploading()">
					<div class="progress-bar" role="progressbar"
						aria-valuenow="{{$flow.progress() * 100}}"
						aria-valuemin="0"
						aria-valuemax="100"
						style="width: {{$flow.progress() * 100}}%;">
					</div>
				</div>
				<div>
					<button class="btn btn-default btn-xs" flow-btn translate>add_attachment</button>
					<div style="margin-top:10px;
								height: 50px;
								border: 1px dashed #dddddd;
								border-radius: 5px;
								padding-top: 15px;
								padding-left: 151px;
								color: #bbbbbb;"
						 flow-drop
						 flow-drag-enter="class='alert-success'"
						 flow-drag-leave="class=''"
						 ng-class="class">
						<span translate>or_drop_file</span>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix top-buffer">
			<div class="pull-right">
				<button class="btn btn-danger" ng-click="cancel($event)"><i class="fa fa-ban"></i> <span translate>cancel</span></button>
				<button class="btn btn-success" ng-click="save($event)"><i class="fa fa-check"></i> <span translate>save</span></button>
			</div>
		</div>
	</form>
</div>
