<div class="container-fluid" ng-controller="ResetPasswordCtrl">
	<form class="form-horizontal" role="form" name="userForm">
		<ng-include src="'views/users/userPasswordFragment.html'"></ng-include>	
		
		<div class="clearfix top-buffer">
			<div class="pull-right">
				<button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> {{'cancel' | translate}}</button>
					<button class="btn btn-success" ng-click="save()"><i class="fa fa-check"></i> {{'save' | translate}}</button>
			</div>
		</div>
	</form>
</div>