<div class="form-group"
	ng-class="{'has-error has-feedback': userForm.password.$invalid && !userForm.password.$dirty}">
	<label for="password" class="col-sm-4 control-label" translate>password</label>
	<div class="col-sm-8">
		<input type="password" class="form-control" id="password" name="password" ng-model="user.password">
		<i ng-show="userForm.password.$invalid && !userForm.password.$dirty" 
			class="fa fa-exclamation-triangle form-control-feedback" 
			popover="{{userForm.password.message}}" 
			popover-placement="left" popover-trigger="mouseenter"></i>
	</div>
</div>
<div class="form-group"
	ng-class="{'has-error has-feedback': userForm.verifyPassword.$invalid && !userForm.verifyPassword.$dirty}">
	<label for="verifyPassword" class="col-sm-4 control-label" translate>verify_password</label>
	<div class="col-sm-8">
		<input type="password" class="form-control" id="verifyPassword" name="verifyPassword" ng-model="user.verifyPassword">
		<i ng-show="userForm.verifyPassword.$invalid && !userForm.verifyPassword.$dirty" 
			class="fa fa-exclamation-triangle form-control-feedback" 
			popover="{{userForm.verifyPassword.message}}" 
			popover-placement="left" popover-trigger="mouseenter"></i>
	</div>
</div>