<!-- Using ng-show to not display the group form when the "User groups" root element of the tree is selected -->
<div ng-controller="EditGroupCtrl" ng-show="group.id">
	<div class="clearfix resourceHeading">
		<div class="pull-left">
			<h3>{{group.name}}</h3>
		</div>
		<div class="pull-right" ng-show="permissions['WD_MANAGE_GROUPS']">
			<script id="actionsListTemplate" type="text/x-kendo-template">
				<div>
					<i class="fa #=data.icon#"></i> <span translate>#=data.key#</span>
				</div>
			</script>
			<select kendo-drop-down-list k-data-source="actionsDataSource" k-template="actionsListTemplate"
				k-option-label="'{{'actions' | translate}}'"  k-data-text-field="'key'"
				k-on-select="executeAction(kendoEvent)"></select>
		</div>
	</div>
	
	<section class="well">
		<form class="form-horizontal" role="form" name="groupForm">
			<fieldset ng-disabled="!permissions['WD_MANAGE_GROUPS']">
				<ng-include src="'views/groups/groupDetailsFragment.html'"></ng-include>	
			</fieldset>
			
			<div class="top-buffer">
				<div kendo-grid k-data-source="userDataSource" k-columns="userColumns" k-sortable="true"
					k-filterable="{extra: false, messages: {info: '{{'filter_info'|translate}}', filter: '{{'filter'|translate}}', clear: '{{'clear'|translate}}'}, 
					operators: {string: {contains: '{{'contains'|translate}}'}}}"></div>
			</div>
			
			<hr/>
			<div class="clearfix" ng-show="permissions['WD_MANAGE_GROUPS']">
				<div class="pull-right">
					<button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> {{'cancel' | translate}}</button>
					<button class="btn btn-success" ng-click="save()"><i class="fa fa-check"></i> {{'save' | translate}}</button>
				</div>
			</div>
		</form>
	</section>
</div>