<div class="container-fluid" ng-controller="DataModelVersionDeleteCtrl">
	<div class="row">
		<div class="col-xs-4"><i class="fa fa-question-circle fa-3x"></i></div>
		<div class="col-xs-8"><p translate>data_model.delete_version_confirm</p></div>
	</div>
	<div class="clearfix top-buffer">
		<div class="pull-right">
			<button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> <span translate>action.cancel</span></button>
			<button class="btn btn-success" ng-click="delete()"><i class="fa fa-check"></i> <span translate>action.delete</span></button>
		</div>
	</div>
</div>
